{{ if isset .Params "audio" -}}
{{ $audio := (.Resources.GetMatch "audio/*") }}
  {{- with $audio }}
<audio id="audio" controls preload="metadata">
  <source src="{{ .Permalink }}" type="audio/mpeg">
</audio>
  {{- end }}
{{ else -}}
    {{ range (.Resources.ByType "audio") }}
<audio id="audio" controls preload="metadata">
    <source src="{{ .Permalink }}" type="audio/mpeg">
  </audio>
    {{- end }}
{{ end -}}