{{ $p := $.Store.Get "nonce" -}}
{{ range first 1 (.Resources.ByType "image") }}
{{ $src := . }}
{{- with $src }}
{{- $img := $src.Resize "550x Lanczos webp" -}}
{{- $md5 := md5 $src }}
{{- $slice := slice 550 800 1200 1500 -}}
{{- $srcset := slice -}}
{{- $colors := .Colors -}}
{{- if (lt ($colors | len) 2) -}}
{{- $colors = $colors | append "#ffffff" -}}
{{- end -}}
{{- $bgcolors := delimit ($colors) ", " -}}
{{- $style := print "background: linear-gradient(" $bgcolors "); background-size: cover; background-repeat: no-repeat;" -}}
{{- range $slice -}}
{{- if (le . $src.Width) -}}
{{- $w := printf "%dx Lanczos webp" . -}}
{{- $url := ($src.Resize $w).RelPermalink | safeURL -}}
{{- $url := printf "%s %dw" $url . -}}
{{- $srcset = $srcset | append $url -}}
{{- end -}}
{{- end -}}
{{- $set := delimit $srcset "," -}}
<style nonce="{{$p}}">
.ionoImg__{{ $md5 }} { {{ $style | safeCSS }} }
</style>
<div class="photo-container ionoImg__{{ $md5 }}">
  <picture>
    <source type="image/webp" srcset="{{- $set -}}"
      sizes="(max-width: 768px) calc(100vw - 3em), (max-width: 1376px) calc(50vw - 8em), 550px">
    <source type="image/jpeg" srcset="{{- $set -}}"
      sizes="(max-width: 768px) calc(100vw - 3em), (max-width: 1376px) calc(50vw - 8em), 550px">
    <img src="{{- $img.RelPermalink -}}" alt="{{- $.Param "title" -}}" width="{{- $src.Width -}}" height="{{- $src.Height -}}">
  </picture>
</div>
{{ end -}}
{{ end -}}