{{ $svg := resources.Get site.Params.favicon.svg -}}
{{ with . -}}
  {{ $img := resources.Get .image -}}
  {{ $md5 := md5 $img -}}
  {{ with $img -}}
  {{ $small := $img.Fill "100x100 Lanczos webp" -}}
  {{ $medium := $img.Fill "320x320 Lanczos webp" -}}
  {{ $colors := $img.Colors -}}
    {{ if (lt ($colors | len) 2) -}}
      {{ $colors = $colors | append "#ffffff" -}}
    {{ end -}}
  {{ $bgcolors := delimit ($colors) ", " -}}
  {{ $style := print "background: linear-gradient(" $bgcolors "); background-size: cover; background-repeat: no-repeat;" -}}
{{- $p := $.Store.Get "nonce" -}}
  <style nonce="{{ $p }}">
    .ionoImg__{{ $md5 }} { {{ $style | safeCSS }} }
  </style>
<div class="circle-image ionoImg__{{ $md5 }}">
  <picture>
    <img rel="author" class="u-photo" width="{{ $img.Width }}" height="{{ $img.Height }}"
      sizes="(min-width: 800px) 320px, 100px"
      srcset='{{ if ge $img.Width "100" }}{{ with $medium.RelPermalink }}{{.}} 320w{{ end }}{{ end }}
      {{ if ge $img.Width "320" }}{{ with $img.RelPermalink -}}, {{.}} {{ end }}{{ end }}'
      src="{{ $small.RelPermalink }}" alt="{{ site.Params.description }}">
  </picture>
</div>

{{ else -}}
{{ $svg.Content | safeHTML -}}
{{ end -}}
{{ end -}}

