{{ $src := resources.Get .img -}}
{{ $md5 := md5 $src -}}
{{ $img := $src.Resize "550x Lanczos webp" -}}
{{ $alt := .alt -}}
{{ $cmd := .command -}}
{{ $loading := .loading -}}
{{ with $src -}}
{{ $slice := slice 550 800 1200 1500 -}}
{{ $srcset := slice -}}
{{ range $slice -}}
{{ if (le . $src.Width) -}}
{{ $w := printf "%dx Lanczos webp" . -}}
{{ $url := ($src.Resize $w).RelPermalink | safeURL -}}
{{ $url := printf "%s %dw" $url . -}}
{{ $srcset = $srcset | append $url -}}
{{ end -}}
{{ end -}}
{{ $set := delimit $srcset "," -}}
<div class="photo-container">
  <picture>
    <source type="image/webp" srcset="{{ $set -}}"
      sizes="(max-width: 768px) calc(100vw - 3em), (max-width: 1376px) calc(50vw - 8em), 550px">
    <source type="image/jpeg" srcset="{{ $set -}}"
      sizes="(max-width: 768px) calc(100vw - 3em), (max-width: 1376px) calc(50vw - 8em), 550px">
    <img src="{{ $img.RelPermalink -}}" alt="{{ $alt -}}" width="{{ $src.Width -}}" height="{{ $src.Height -}}" 
      {{ with $loading -}}loading="{{ . -}}" {{ end -}}>
  </picture>
</div>
{{ end -}}