{{ $opts := (dict "minified" true "compact" true "noComments" true) -}}
{{ $gd := resources.Get "js/gallerydeluxe/cdn/index.js" -}}
{{ $gd := $gd | js.Build (dict "params" site.Params.gallerydeluxe) -}}
{{ $t := resources.Get "js/test.js" -}}
{{ $gd := slice $gd $t | resources.Concat "js/gallery.js" | babel $opts }}
{{ $cb := resources.Get "js/clipboard.js" | babel $opts -}}
{{ $wm := resources.Get "js/webmention.js" | babel $opts -}}
{{ $p := $.Store.Get "nonce" -}}

{{ if hugo.IsProduction -}}
  {{ $gd = $gd | minify | fingerprint "sha384" -}}
  {{ $cb = $cb | minify | fingerprint "sha384" -}}
  {{ $wm = $wm | minify | fingerprint "sha384" -}}
{{ end -}}

{{ if (findRE "gallerydeluxe" .Content 1) -}}
<script nonce="{{ $p }}" src="{{ $gd.RelPermalink }}" integrity="{{ $gd.Data.Integrity }}" defer></script>
{{ end -}}

{{ if and (site.Params.js.copybutton) (findRE "<pre" .Content 1) -}}
<script nonce="{{ $p }}" src="{{ $cb.RelPermalink }}" integrity="{{ $cb.Data.Integrity }}" defer></script>
{{ end -}}

{{ if (findRE "webmentions" .Content 1) -}}
<script nonce="{{ $p }}" src="{{ $wm.RelPermalink }}" integrity="{{ $wm.Data.Integrity }}" data-id="webmentions-condensed" data-page-url="{{ .Page.Permalink }}" data-comments-are-reactions="true" data-wordcount="20" async></script>
{{ end -}}