<div class="logo">
  <a aria-label="{{- $.Site.Title -}}" href="{{- "/" | absURL -}}">
    {{ with resources.Get site.Params.favicon.svg -}}
    {{ .Content | safeHTML -}}
    {{ else -}}
    {{ site.Title -}}
    {{ end -}}
  </a>
</div>