<head itemscope itemtype="http://schema.org/WebPage" lang="{{ site.LanguageCode }}">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{ .Permalink | safeURL }}">
  {{- partial "head/seo" . }}
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end -}}
  <link rel="icon" href="{{ site.Params.favicon.default | absURL -}}" sizes="any">
  <link rel="icon" href="{{ $svgicon := resources.Get site.Params.favicon.svg -}}{{ with $svgicon -}}{{ .Permalink | absURL -}}{{ end -}}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ $icon := resources.Get site.Params.favicon.png -}}{{ $fav := $icon.Resize "180x180 png" -}}{{ $fav.Permalink | absURL -}}">
  {{ range .AlternativeOutputFormats -}}
    <link rel={{ .Rel }} type="{{ safeHTML .MediaType.Type}}" href={{ .RelPermalink }}>
  {{ end -}}
  {{ with site.Params.webmention -}}
    <link rel="webmention" href="https://webmention.io/{{ .domain }}/webmention">
    <link rel="pingback" href="https://webmention.io/{{ .domain }}/xmlrpc">
  {{ end -}}
  <meta name="fediverse:creator" content="@ion@post.iono.me">
  <meta name="theme-color" content="{{ site.Params.theme_color }}">
  <meta name="msapplication-TileColor" content="{{ site.Params.msapplication_TileColor }}">
  {{- $now := now.Format site.Params.dateFormatShort }}{{ $url := (site.BaseURL | absURL) }}{{ $nonce := hmac "sha256"
$now $url "binary" | base64Encode }}{{ .Store.Set "nonce" $nonce -}}
  {{ partial "head/style" . -}}
  {{ partial "head/head-js" . -}}
  {{ template "_internal/schema.html" . -}}
  {{ template "_internal/opengraph.html" . -}}
</head>