{{ if hugo.IsProduction -}}

{{ $p := $.Store.Get "nonce" -}}
<script nonce="{{ $p }}" defer data-domain="iono.me" src="https://metrics.iono.me/js/script.outbound-links.tagged-events.js"></script>
<script nonce="{{ $p }}">window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

{{ end -}}