{{ if .IsHome -}}
  {{ printf `<title> %s  | %s </title>` site.Title site.Params.description | safeHTML }}
  <link rel=manifest href=manifest.webmanifest>
{{ end -}}
{{- if not .IsHome }}
  {{- with .Title }}
  {{ printf `<title> %s | %s </title>`  . site.Title | safeHTML }}
  {{ end -}}
{{ end -}}
{{ with .Description | .RenderString -}}
  <meta name="description" content="{{ . }}">
{{- else -}}
{{- with .Summary | .RenderString -}}
  <meta name="description" content="{{ . }}">
{{- else -}}
{{- with site.Params.description | .RenderString -}}
  <meta name="description" content="{{ . }}">
{{- end -}}
{{- end -}}
{{- end -}}