{{ $options := (dict "outputStyle" "compressed") -}}
{{ $critical := resources.Get "css/_critical.scss" | resources.ToCSS $options -}}
{{ if hugo.IsProduction -}}
{{ $critical = $critical | resources.PostCSS | minify | fingerprint "sha384" -}}
{{ end -}}
{{ $p := $.Store.Get "nonce" -}}
<style nonce="{{ $p }}" type="text/css" integrity="{{ $critical.Data.Integrity -}}">{{ $critical.Content | safeCSS -}}</style>

  {{ $home := resources.Get "css/home.scss" | resources.ToCSS $options -}}
  {{ $term := resources.Get "css/term.scss" | resources.ToCSS $options -}}
  {{ $section := resources.Get "css/section.scss" | resources.ToCSS $options -}}
  {{ $archive := resources.Get "css/archive.scss" | resources.ToCSS $options -}}
  {{ $page := resources.Get "css/single.scss" | resources.ToCSS $options -}}
  {{ $gd := resources.Get "css/gallerydeluxe/styles.css" -}}
  {{ $image := resources.Get "css/component/_image.scss" | resources.ToCSS $options -}}
  {{ $slice := slice $page -}}

  {{ $bundle := $slice | resources.Concat "css/page.css" }}

  {{ if or (.HasShortcode "image") (.HasShortcode "gallery") (.Resources.GetMatch "image/*") (.Resources.ByType "image") -}}
    {{ $bundle = $slice | append $image | resources.Concat "css/pageimg.css" -}}
  {{ end -}}

  {{ if (findRE "gallerydeluxe" .Content 1) -}}
    {{ $bundle = $slice | append $gd | resources.Concat "css/gallery.css" -}}
  {{ end -}}

  {{ if hugo.IsProduction -}}
    {{ $home = $home | resources.PostCSS | minify | fingerprint "sha384" -}}
    {{ $term = $term | resources.PostCSS | minify | fingerprint "sha384" -}}
    {{ $section = $section | resources.PostCSS | minify | fingerprint "sha384" -}}
    {{ $archive = $archive | resources.PostCSS | minify | fingerprint "sha384" -}}
    {{ $bundle = $bundle | resources.PostCSS | minify | fingerprint "sha384" -}}
  {{ end -}}

  {{ if eq .Kind "home" -}}
<link rel="stylesheet" nonce="{{ $p }}" href="{{ $home.RelPermalink -}}" integrity="{{ $home.Data.Integrity -}}">
  {{ end -}}

  {{ if eq .Kind "term" -}}
<link rel="stylesheet" nonce="{{ $p }}" href="{{ $term.RelPermalink -}}" integrity="{{ $term.Data.Integrity -}}">
  {{ end -}}

  {{ if eq .Kind "taxonomy" -}}
<link rel="stylesheet" nonce="{{ $p }}" href="{{ $section.RelPermalink -}}" integrity="{{ $section.Data.Integrity -}}">
  {{ end -}}

  {{ if (eq .Type "archives") -}}
<link rel="stylesheet" nonce="{{ $p }}" href="{{ $archive.RelPermalink -}}" integrity="{{ $archive.Data.Integrity -}}">
  {{ end -}}

  {{ if and (eq .Kind "page") }}
<link rel="stylesheet" nonce="{{ $p }}" href="{{ $bundle.RelPermalink -}}" integrity="{{ $bundle.Data.Integrity -}}">
  {{ end -}}