{{- $src := resources.Get .Destination -}}
{{- $md5 := md5 $src }}
{{- $tinyImage := $src.Resize "500x" -}}
{{- $smallImage := $src.Resize "800x" -}}
{{- $mediumImage := $src.Resize "1200x" -}}
{{- $largeImage := $src.Resize "1500x" -}}
{{- $colors := $src.Colors -}}
{{- if (lt ($colors | len) 2) -}}
	{{- $colors = $colors | append "#ffffff" -}}
{{- end -}}
{{- $bgcolors := delimit ($colors) ", " -}}
{{- $style := print "background: linear-gradient(" $bgcolors "); background-size: cover; background-repeat: no-repeat;" -}}
<style nonce="2a97cb707813a8590c6d82bb94e534af">
    .ionoImg__{{ $md5 }} { {{ $style | safeCSS }} }
  </style>
  <div class="photo-container ionoImg__{{ $md5 }}">
    <picture>
        <source media="(min-width:500px)" srcset={{- $smallImage.RelPermalink | safeURL -}}>
        <source media="(min-width:800px)" srcset={{- $mediumImage.RelPermalink | safeURL -}}>
        <source media="(min-width:1200px)" srcset={{- $largeImage.RelPermalink | safeURL -}}>
        <source media="(min-width:1500px)" srcset={{- .Destination | safeURL -}}>
        <img src="{{- $tinyImage.RelPermalink | safeURL -}}" alt="{{- .Title -}}" title="{{- .Title -}}">
    </picture>
</div>