{{- define "content" -}}
<div class="archive">
  <h1>{{- .Title -}}</h1>
  {{- range .Site.RegularPages.GroupByPublishDate "2006" -}}
    {{- if ne .Key "0001" -}}
  <h2 class="line-shadow">{{- replace .Key "0001" "" -}}</h2>
      {{ range .Pages.GroupByDate "January" }}
  <h3>{{ .Key }}</h3>
        {{ range where .Pages "Type" "in" site.Params.mainSections -}}
  <article class="archive__item flex">
    <p class="archive__item__date"><span>{{- site.Params.list.dateFormat | default "02" | .Date.Format -}}</span></p>
    <a class="archive__item__title" href="{{ .RelPermalink }}">
      <h4>{{- .Title | title -}}</h4>
    </a>
  </article>
        {{ end -}}
      {{ end -}}
    {{ end -}}
  {{ end -}}
</div>
{{- partial "components/cloud-tag" . -}}
{{- end -}}