<!DOCTYPE html>
<html lang="{{- site.LanguageCode -}}">
{{ partial "head/head" . }}
<div class="wrap">
  {{ partial "body/header" . }}
  <main class="container">
    {{- block "content" . }}
    {{- end }}
  </main>
  {{ partial "body/footer" . }}
  {{- partial "components/js" . }}
</div>
</html>