<div class="index box">
	<h3 class="index__title"><a href="{{- .RelPermalink | relURL -}}">{{- .Title | title -}}</a></h3>
	<hr>
	<p>{{- if not .Date.IsZero -}}<span class="index__date">{{- .Date.Format (or site.Params.dateFormat.published "January 02, 2006") -}} </span> - {{ end -}}
	{{ if isset .Params "description" -}}
		{{ .Description | .RenderString | emojify -}}
		{{- else if .Summary -}}
		{{ .Summary | .RenderString | emojify -}}
	{{- end -}}
	</p>
	<p class="cloud">
		{{- if .Params.tags -}}
			{{ range $i, $t := .Params.tags -}}
				{{- with partial "components/taxo" . -}}
		<a href="{{ .RelPermalink }}"><kbd>{{ title $t }}</kbd></a>
				{{- end -}}
			{{- end -}}
		{{- end -}}
	</p>
  </div>