{{- define "content" -}}
{{- $taxonomies := .Data.Plural -}}
{{- $terms := .Data.Terms.ByCount -}}
{{- $type := .Type -}}
<div class="terms">
{{- with .Page -}}
    <h1>{{- .Title | title -}}</h1>
    {{- with .Content -}}
        {{- . -}}
    {{- end -}}
    {{- range $terms -}}
    {{- $term := .Term -}}
    {{- $pages := .Pages -}}
        {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
    <div class="terms__title">
        <h2 class="line-shadow"><a href="{{- .RelPermalink | safeHTML -}}">{{- .Page.Title | title -}}</a></h2>
            {{- range $pages -}}
        <h3 class="mg-1-0"><a href="{{- .RelPermalink | safeHTML -}}">{{- .Title | title -}}</a></h3>
            {{- end -}}
    </div>
        {{- end -}}
    {{- end -}}
{{- end -}}
</div>
{{- end -}}