@charset "UTF-8";

img {
    border-style: none
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-rendering: optimizelegibility;
    -webkit-tap-highlight-color: transparent;
    --font-smoothing: antialiased
}

body {
    background-color: var(--white-primary);
    color: var(--black-primary);
    font-family: Palatino, URW Palladio L, serif;
    line-height: 1.7;
    margin: 0;
    word-wrap: break-word;
    --osx-font-smoothing: grayscale
}

p,
dl,
ol,
ul {
    font-size: clamp(1rem, 2vw, 1.125rem);
}

ol,
ul {
    padding-inline-start: 2rem
}

li {
    margin-top: .5rem
}

p {
    padding-right: 0;
    vertical-align: baseline
}

*,
*::before,
*::after {
    box-sizing: border-box
}

.flex {
    align-items: center;
    display: flex
}

.flex-3 {
    display: flex;
    flex: 3;
    justify-content: center;
}

.line-shadow {
    box-shadow: 0 2px 2px -2px var(--line-shadow);
    padding: .25em
}

.hide {
    display: none;
}

.wrap {
    position: relative;
    margin: 0 auto;
    max-width: 48rem;
    min-height: 100vh
}

.header {
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;

    .logo {
        float: left;

        a {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 700;
        }

        svg {
            margin: 0;
            width: clamp(50px,5vw,70px);
        }
    }
}

.home {
    margin-top: 1rem;
    justify-content: center;
}

.menu {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    position: relative;
    transform: none;
    z-index: 10;

    &__item {
        list-style-type: none;
        margin: 0;

        a {
            display: block;
            text-decoration: none;
        }
    }
}

.container {
    padding: 1rem 1rem 2.5rem 1rem;
}

footer {
    bottom: 0;
    height: 2.5rem;
    margin-top: 3rem;
    position: absolute;
    width: 100%;

    .footer {
        padding: 1rem;
    }

    p {
        font-size: .83rem;
        line-height: 1rem;
        margin: .25rem auto
    }
}

@media(max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center
    }
}