@import 'variables/colors';
@import 'component/cloud';
@import 'component/kbd';

.archive h2 {
	margin-top: 3rem;
}

.archive__item {
	margin: .75rem 0;

	&__date {
		background-color: var(--accent);
		color: var(--white-secondary);
		margin-right: 1rem;
		margin-top: 0;
		margin-bottom: 0;
		padding: .2rem .5rem;
	}

	&__title {
		margin-top: 0;
		text-decoration: none;
		transition: transform 0.1s;

		&:hover {
			transform: translate(5px, 0);
		}

		h4 {
		font-weight: 500;
		color: var(--black-secondary);
		margin: 0;
		}
	}
}