@import 'variables/colors';
@import 'component/box';
@import 'component/img';

.h-card {
	flex-direction: column;
	padding: 1rem;
	text-align: center;

	&-bio {
		margin: 0 1rem;
	}

	&-image {
		flex: 50%;
		padding: 0;

		svg {
			width: 100px;
		}

		.circle-image {
			border-radius: 50%;
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
			height: 150px;
			margin: 1rem auto;
			overflow: hidden;
			width: 150px;
		}
	}
}

@media (min-width: 768px) {
	.h-card {
		flex-direction: row;

		&-image {
			flex: 30%;
	
			svg {
				width: 120px;
			}
		}

		&-bio {
			flex: 70%;
		}
	}
}
