@import 'variables/base';
@import 'component/toc';
@import 'component/table';
@import 'component/audio';
@import 'component/class';
@import 'component/blockquote';
@import 'component/highlight';
@import 'component/webmention';


.subtitle {
  font-style: italic;
  font-weight: 500;
}

.e-content,
.entry {
  margin: 2rem 0;
}

.e-content {
  :is(p) {
    margin-bottom: clamp(1.3rem, 2vw, 2rem);
  }

  :is(a) {
    text-decoration: underline;
  }
}

.admonition__title :is(p) {
  color: rgb(40,45,56);
  font-weight: 700;
}

.admonition__content,
.admonition__title :is(p) {
  margin: 0;
  padding: 0.1rem 1rem;
}

.footnotes {

  :is(li, p) {
    margin: 0.5rem 0;
  }

  ul,
  ol {
    padding-inline-start: 3rem;
  }
}

.footnotes :is(li, p),
.admonition__content :is(li, p, strong),
.entry {
  color: var(--black-secondary);
  font-size: clamp(.833rem, 2vw, 1rem);
}

.info {
  display: block;
  padding: .2rem;
}

.anchor {
  a {
    text-decoration: none;
  }

  svg {
    opacity: .3;

    &:hover {
      opacity: 1;
    }
  }
}

#gallerydeluxe {
  z-index: 1000;
}