{{ if ne .Kind "404" }}
<footer>
  <div class="footer flex">
    <p class="flex-3">{{ site.Copyright }} | {{ site.Params.author }}</p>
    <p class="flex-3">
      {{ with site.Params.license -}}
      Licensed under&nbsp;<a href="{{ .url | safeHTML -}}" target="_blank" rel="noopener">{{ .name -}}</a>
      {{ end -}}
    </p>
    <p class="flex-3">
      {{ with site.Params.powered -}}
      Powered by&nbsp;<a href="{{ .hugo.url | safeHTML }}" target="_blank">{{ .hugo.name -}}</a>&nbsp;and&nbsp;<a href="{{ .theme.url | safeHTML }}" target="_blank">{{ .theme.name -}}</a>
      {{ end -}}
    </p>
  </div>
</footer>
{{ end -}}