<div class="flex h-card">
  <div class="h-card-image">
    {{ partial "components/display-image" . -}}
  </div>
  <div class="h-card-bio">
    {{ with site.Params.hcard -}}
    {{ with .name -}}
    <h3>Hi, I'm <span class="p-name" rel="me">{{ . }}</span>{{ end -}} {{ with .family }}
      <span class="p-family-name">{{ . -}}</span>{{ end -}}
    </h3>
    {{ with .bio -}}<p class="p-note">{{ . | markdownify | emojify -}}</p>{{ end -}}
    <div class="social">
      {{ with site.Menus.social -}}
        {{ range $k, $url := . -}}{{ if $k }}/{{ end }}
      <a class="social-icons" rel="me" href='{{ .URL | safeHTML -}}' target="_blank" title="{{ .Name -}}">{{ with .Name -}}{{ title . -}}{{ end -}}</a>
        {{ end -}}
      {{ end -}}
    </div>
    {{ with .honorificsuffix -}}<p class="p-honorific-suffix hide">{{ . -}}</p>{{ end -}}
    {{ with .nick -}}<p class="p-nickname hide">{{ . -}}</p>{{ end -}}
    <a class="u-url hide" href="{{ site.BaseURL -}}">{{ site.Title -}}</a>
    {{ end -}}

  </div>
</div>