<header {{ if .IsHome }} class="home flex" {{- else -}} class="header flex" {{- end -}}>
  {{- if not .IsHome }}
    {{- partial "components/logo" . -}}
  {{- end }}
  {{- if ne .Kind "404" }}
  <nav class="flex">
    <ul class="menu">
      {{- $currentPage := . -}}
      {{- range site.Menus.main -}}
        {{- if .Name }}
      <li class="menu__item"><a href="{{- .URL -}}">{{- .Pre -}}<span>{{- .Name -}}</span>{{- .Post -}}</a></li>
        {{- end }}
      {{- end }}
    </ul>
  </nav>
  {{ end -}}
</header>