<article class="p-author h-entry">
  <h1 class="p-name">{{- .Title -}}</h1>
  {{- if not $.Date.IsZero -}}
  <p class="subtitle">
    <span>
      <time class="dt-published" datetime="{{- .PublishDate.Format " 2006-01-02T15:04:05Z0700" -}}">
        {{ .Date.Format (or site.Params.dateFormat.published "January 2, 2006") -}}
      </time>
    </span>
    {{- with .Params.description -}}
    - {{ . -}}
    {{- end -}}
  </p>
  {{- end -}}
  <hr>
  <div class="e-content">
    {{ partial "components/cover" . -}}
    {{ partial "components/audio" . -}}
    {{ partial "components/toc" . -}}
    {{ .Content -}}
  </div>
  <p class="entry">
    <hr>
    {{- if (and (eq .Lastmod.IsZero false) (ne .Lastmod .Date)) }}
    <span class="info">Last update : <time datetime="{{- .Lastmod.Format " 2006-01-02T15:04:05Z0700" -}}">{{- .Lastmod.Format "January 2, 2006" -}}</time>
    </span>
    {{- end }}
    {{- with site.Params.Author }}
    <span class="info"></span>Posted by : <a rel="author" class="p-author h-card" href="{{ " about" | relURL }}">{{ . -}}</a>
    </span>
    {{- end -}}
    {{- with .Params.tags }}
    <span class="info">Tags :&nbsp;{{ range $i, $t := . -}}{{- if gt $i 0 -}}, {{ end -}}{{- with partial "components/taxo" . -}}
      <a href="{{ .RelPermalink }}">{{- title $t -}}</a>
      {{- end -}}
      {{- end -}}
    </span>
    {{- end -}}
    {{- with .Params.syndication }}
    <span class="info">
      Syndication : {{ range $f, $s := . }}
      <a href="{{- $s -}}" class="u-syndication" rel="syndication">{{- title $f -}}</a>
      {{- end }}
    </span>
    {{- end }}
    <a class="u-url hide" href="{{ .Permalink }}">{{ .Title }}</a>
  </p>
  <div id="webmentions"></div>
</article>