blockquote {
  background-color: var(--grey-primary);
  border-left: 8px solid var(--table);
  margin: 1rem 0 2rem 0;
  padding: .5rem 1.25rem;
}

aside {
  margin: 1rem -1rem 2rem -1rem;
}

.note {
  background-color: rgba(0, 133, 242, .1);

  &__title {
    background-color: rgb(90,168,232);
  }
}

.warning {
  background-color: rgba(199, 183, 0, .5);

  &__title {
    background-color: rgb(255,215,0);
  }
}