@import 'cloud';
@import 'kbd';

@layer box {
    .index {
        box-shadow: 8px 8px 0px 0px rgb(59, 66, 82);

        &__title :is(a),
        &__date {
            color: var(--black-secondary);
        }

        &__title :is(a) {
            text-decoration: none;
        }
    }

    @mixin big {
        box-shadow: 8px 8px 0px 0px $black-secondary;
        -webkit-box-shadow: 8px 8px 0px 0px $black-secondary;
        -moz-box-shadow: 8px 8px 0px 0px $black-secondary;
    }

    .box {
        border: 1px solid rgb(221, 221, 221);
        border-radius: .5rem;
        margin: 2rem 0;
        padding: .1rem 1rem;
        text-decoration: none;
        transition: .5s;

        &:hover {
            box-shadow: 0px 0px 0px 0px var(--shadow);
            -webkit-box-shadow: 0px 0px 0px 0px var(--shadow);
            -moz-box-shadow: 0px 0px 0px 0px var(--shadow);
            transition: .5s;
        }
    }
}