.breadcrumb {
    padding-inline-start: 0;
  
    li {
      display: inline;
  
      a {
        font-size: clamp(1rem, 2vw, 1.125rem);
      }
    }
  
    li+li:before {
      content: "/\00a0";
    }
  }