.arabic {
    clear: both;
    display: block;
    font-family: ("Geeza Pro", "Al Bayan", "DecoType Naskh", "Roboto", "Tahoma", "Times New Roman", "Arial", serif);
    font-size: 1.77rem;
    line-height: 3rem;
    margin: 1rem 0;
    text-align: right
}