.cloud {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
    justify-content: flex-start;
    margin: 1rem 0;
    padding: 1rem 0;

    a,
    p,
    span {
        font-size: .833rem;
        margin: auto .2rem;
    }
}