@import 'chromaDark';

.highlight {
  margin: .75rem -1rem 2rem -1rem;
  position: relative;
  tab-size: 4;
  -moz-tab-size: 4;
  -webkit-text-size-adjust: 100%;
  overflow: -moz-scrollbars-none;

  &>* {
    overflow-x: auto;
    padding: .75rem;
    word-wrap: normal;
  }

  pre {
    margin: 0;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

:not(pre)>code {
  background-color: var(--highlight);
  border-radius: 5px;
  font-size: 85%;
  padding: .2rem .4rem;
}

code {
  font-size: clamp(.833rem, 2vw, 1rem);
}

/* copy-code js */
button.copy-code {
  background-color: var(--grey-primary);
  border-radius: .25rem;
  border-style: none;
  font-size: 0.8em;
  padding: .3rem .3rem .2rem;
  position: absolute;
  right: .2rem;
  top: .2rem;
}