@import 'img';

ul.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    list-style-type: none;
    margin: 3rem 0;
    padding-inline-start: 0;

    &>li {
        margin-top: 0;
        flex-grow: 1;
    }

    li>.photo-container {
        height: 20vh;
        margin: 0;
        width: 100%;
    }

    li>.photo-container img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        vertical-align: bottom;
    }
}

.e-content .photo-container {
    margin: 3rem auto;
    width: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
    ul.gallery {
		li>.photo-container {
			height: 30vh;
		}
	}

	.e-content .photo-container {
		width: 80%;
	}
}