kbd {
    background-color: var(--grey-secondary);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    font-family: (Palatino, URW Palladio L, serif);
    font-size: .833rem;
    font-weight: 600;
    padding: .1rem .3rem;
    white-space: nowrap;
}