table {
    border-collapse: collapse;
    display: block;
    margin: 1rem -1rem 3rem;
    overflow-x: auto;
    table-layout: fixed;
    word-wrap: normal;
  
    thead tr th {
      background-color: var(--table);
      border: 1px solid rgb(221, 221, 221);
      padding: .25rem;
    }
  
    tbody {
      tr:nth-child(odd) {
        background-color: var(--grey-primary);
      }
  
      tr:nth-child(even) {
        background-color: var(--grey-secondary);
      }
    }
  
    td {
      border: 1px solid #ddd;
      padding: .5rem 1rem;
      text-align: left;
      word-wrap: break-word;
    }
  }