.toc {
  border: 1px solid rgb(221, 221, 221);
  background-color: var(--white-secondary);
  cursor: pointer;
  margin: 1rem -1rem;
  padding: 0.5rem 1rem;

  ul {
    list-style-type: decimal;
  }

  ul ul {
    list-style-type: square;
  }
}