 #webmentions
 {
     margin: 0;
     position: relative;
     z-index: 100;
     line-height: 1.2em;


     .comments
     {
         max-height: 20em;
         overflow-x: hidden;
         overflow-y: scroll;
         font-size: 80%;
     }

     h2
     {
         font-size: medium;
         margin: 0;
         padding: 2px;
         background: #ccc;
     }

     .reacts img
     {
         margin: 3px -1ex 1px 0;
     }

     img.missing
     {
         background: white;
         border: dashed black 1px;
     }

     ul
     {
         list-style-type: none;
         margin: 0;
         padding: 4px;
     }

     li
     {
         text-indent: -1em;
         padding-left: 1em;
     }

     a.reaction
     {
         position: relative;
         text-decoration: none;
         text-shadow: 0px 0px 3px white;
         margin-right: 0;
         letter-spacing: -1ex;
         margin-right: 1ex;
     }

     a.reaction img
     {
         max-height: 1.3em;
         width: auto;
         margin-right: -1ex;
         border-radius: 25%;
     }

     a.reaction sub
     {
         font-size: 50%;
     }

     .comments li
     {
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
     }

     .comments li .text
     {
         color: #555;
         font-style: italic;
         text-decoration: none;
     }

     .comments li .name
     {
         color: #111;
     }
 }