  <meta property="og:title" content="{{ if .Title -}}{{ .Title -}}{{ else -}}{{ if site.Title -}}{{ site.Title -}}{{ end -}}{{ end -}}">
  <meta property="og:description" content="{{ with .Description | .RenderString -}}{{ . -}}{{ else -}}{{ if .IsPage -}}{{ .RenderString .Summary -}}{{ else -}}{{ with site.Params.description | .RenderString -}}{{ . -}}{{ end -}}{{ end -}}{{ end -}}">
  <meta property="og:type" content="{{ if .IsPage -}}article{{ else -}}website{{ end -}}">
  <meta property="og:url" content="{{ .Permalink -}}">
  {{ $img := (.Resources.ByType "image").GetMatch "images/**" -}}
  {{ with $img -}}
<meta itemprop="image" content="{{- .Permalink | absURL -}}">
  {{ end -}}
{{ if .IsPage -}}
  {{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}
    <meta property="article:section" content="{{ .Section -}}">
  {{ with .PublishDate -}}
  <meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr -}}>
  {{ end -}}
  {{ with .Lastmod -}}
  <meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr -}}>
  {{ end -}}
  {{ with .Params.audio -}}
    <meta property="og:audio" content="{{ . -}}">
  {{ end -}}
  {{ with .Params.locale -}}
    <meta property="og:locale" content="{{ . -}}">
  {{ end -}}
  {{ with .Site.Params.title -}}
    <meta property="og:site_name" content="{{ . -}}">
  {{ end -}}
  {{ with .Params.videos -}}
    {{ range . -}}
  <meta property="og:video" content="{{ . | absURL -}}">
    {{ end -}}
  {{ end -}}
{{ end }}