<meta itemprop="name" content="{{- if .Title -}}{{- .Title -}}{{- else -}}{{- if site.Title -}}{{- site.Title -}}{{- end -}}{{- end -}}">
  <meta itemprop="description" content="{{- with .Description | .RenderString -}}{{- . -}}{{- else -}}{{- if .IsPage -}}{{- .Summary | .RenderString -}}{{- else -}}{{- with site.Params.description | .RenderString -}}{{- . -}}{{- end -}}{{- end -}}{{- end -}}">
  {{ if .IsPage  -}}
  {{ $tes := where site.RegularPages "Type" "in" site.Params.mainSections -}}
  {{ if $tes -}}
    {{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  {{ with .PublishDate -}}
<meta itemprop="datePublished" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr -}}>
  {{ end -}}
  {{ with .Lastmod -}}
<meta itemprop="dateModified" {{- .Format $iso8601 | printf "content=%q" | safeHTMLAttr -}}>
  {{ end -}}
<meta itemprop="wordCount" content="{{- .WordCount -}}">
  {{ $img := (.Resources.ByType "image").GetMatch "images/**" -}}
  {{ with $img -}}
<meta itemprop="image" content="{{- .Permalink | absURL -}}">
  {{ end -}}
  {{ end -}}
  <meta itemprop="keywords" content="{{- if .IsPage -}}{{- range $index, $tag := .Params.tags -}}{{- $tag -}},{{- end -}}{{- else -}}{{- range $plural, $terms := site.Taxonomies -}}{{- range $term, $val := $terms -}}{{- printf "%s," $term -}}{{- end -}}{{- end -}}{{- end -}}">
  {{ end -}}

{{ if .IsHome -}}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ site.Params.author -}}",
    "description": "{{ site.Params.description -}}",
    "url": "{{ site.BaseURL -}}",
    "thumbnailUrl": "{{ site.Params.hcard.image | absURL |safeHTML -}}"
  }</script>
{{ end -}}
{{ if .IsPage  -}}
{{ $tes := where site.RegularPages "Type" "in" site.Params.mainSections -}}
  {{ if $tes -}}
    <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ with .Section -}}{{ . -}}{{ else -}}{{ with .Title -}}{{ . -}}{{ end -}}{{ end -}}",
    "name": "{{ .Title | .RenderString |  safeJS -}}",
    "headline": "{{ .Title | .RenderString | safeJS -}}",
    "description": "{{- with .Description | .RenderString -}}{{ . | safeJS -}}{{ else -}}{{ with .Summary | .RenderString -}}{{ . -}}{{ else -}}{{ with .Content | .RenderString -}}{{ . -}}{{ end -}}{{ end -}}{{ end -}}",
    "inLanguage": "{{ site.LanguageCode -}}",
    "author": "{{ site.Params.author -}}",
    "creator": "{{ site.Params.author -}}",
    "accountablePerson": "{{ site.Params.author -}}",
    "copyrightHolder": "{{ site.Params.author -}}",
    "copyrightYear": "{{ .Date.Format "2006 " -}}",
    "datePublished": "{{ .Date.Format "2006 " -}}",
    "publisher": "{{ site.BaseURL -}}",
    "logo": "{{ site.Params.favicon.png | absURL -}}",
    "url": "{{ .Permalink -}}",
    "wordCount": "{{ .WordCount -}}",
    "image": "{{ $img := (.Resources.ByType "image").GetMatch "images/**" -}}{{ with $img -}}{{ .Permalink | absURL -}}{{ end -}}",
    "keywords": [
      "{{ if .IsPage -}}{{ range $index, $tag := .Params.tags -}}{{ $tag -}},{{ end -}}{{ else -}}{{ range $plural, $terms := site.Taxonomies -}}{{ range $term, $val := $terms -}}{{ printf " %s, " $term -}}{{ end -}}{{ end -}}{{ end -}}"
    ]
  }
  </script>
{{ end -}}
{{ end -}}