@import 'colors';

@media (prefers-color-scheme: light) {
  @layer light {
    :root {
      --table: #{$table};
      --highlight: #{$highlight};
    }
  }
}

@media (prefers-color-scheme: dark) {
  @layer dark {
    :root {
      --table: #{$darken-dark};
      --highlight: #{$black-secondary};
    }
  }
}

@layer {
  h1 {
    font-size: clamp(2.074rem, 2vw, 2.488rem);
    margin: 3rem 0 1.38rem;
    margin-top: 0
  }

  h2 {
    font-size: clamp(1.728rem, 2vw, 2.074rem);
    margin: 2rem 0 1.25rem
  }
}