$dark-primary: rgb(33, 34, 36);
$dark-secondary: rgb(57, 56, 55);
$grey-primary: rgba(246, 246, 246, 0.8);
$grey-secondary: rgb(237, 237, 237);
$black-primary: rgb(17, 17, 17);
$black-secondary: rgb(59, 66, 82);
$white-primary: rgb(255, 255, 248);
$white-secondary: rgb(250, 250, 242);
$note-text: rgb(24, 49, 84);
$link: rgb(0, 94, 174);
$dark-link: rgb(140, 180, 255);
$accent: rgb(151, 50, 58);
$table: rgb(210, 210, 207);
$highlight: rgb(242, 241, 241);
$darken-dark: darken(#3B4252, 5%);
$box-shadow: rgba(0, 0, 0, 0.75);
$shadow: rgba(0, 0, 0, .2);

@media (prefers-color-scheme: light) {
  @layer light {
    :root {
      --black-primary: #{$black-primary};
      --black-secondary: #{$black-secondary};
      --white-primary: #{$white-primary};
      --white-secondary: #{$white-secondary};
      --grey-primary: #{$grey-primary};
      --grey-secondary: #{$grey-secondary};
      --link: #{$link};
      --accent: #{$accent};
      --line-shadow: #{$shadow};
    }
  }
}

@media (prefers-color-scheme: dark) {
  @layer dark {
    :root {
      --black-primary: #{$white-secondary};
      --black-secondary: #{$white-primary};
      --white-primary: #{$dark-primary};
      --white-secondary: #{$dark-secondary};
      --grey-primary: #{$dark-secondary};
      --grey-secondary: #{$dark-secondary};
      --link: #{$dark-link};
      --accent: #{$white-primary};
      --line-shadow: #{$white-primary};
    }
  }
}

@layer {
  h3 {
    font-size: clamp(1.44rem, 2vw, 1.728rem);
    margin: 1.75rem 0 1.25rem;
  }

  h4 {
    font-size: clamp(1.25rem, 2vw, 1.44rem);
    margin: 1.5rem 0 1rem;
  }

  h5,
  h6 {
    font-weight: 500;
    font-size: clamp(1.125rem, 2vw, 1.25rem);
    margin-top: 1.4rem;
    margin-bottom: 0.5rem
  }

  h6 {
    font-style: italic;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.3
  }

  .logo :is(a) {
    color: var(--accent);
    text-decoration: none;
  }

  hr {
    border: none;
    border-top: 2px solid var(--grey-primary);
  }

  a {
    color: var(--link);

    &:hover {
      color: var(--accent);
    }
  }
}