{{ $optBlock := dict "display" "block" -}}
<aside class="admonition note">
	<div class="admonition__title note__title">
		<p>ⓘ Note</p>
	</div>
	<div class="admonition__content note__content">{{ .Inner | $.Page.RenderString $optBlock }}</div>
</aside>