{{ $optBlock := dict "display" "block" -}}
<aside class="admonition warning">
	<div class="admonition__title warning__title"><p>ⓘ Warning</p></div>
	<div class="admonition__content warning__content">{{ .Inner | $.Page.RenderString $optBlock -}}</div>
</aside>